<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/navbar.ejs') %></header>
    currentPage = <%= currentPage %>
    totalPage = <%= totalPage %>
    <main>
      <div class="postClass">
        <% posts.forEach(post => { %>
            <div class="singlePost">
                <h1 class="postTitle"> <%= post.title %></h1> <br>
                <div class="postdescription">
                    <p> <%= post.description %></p>
                </div> <br>


                <div class="deletepost">
                  <% if( session.role == 'admin' || session.user.toString() == post.postBy.toString()) { %> 
                    <% if (session.role == 'admin' && session.user.toString() !== post.postBy.toString()) { %>
                      <form action="/posts/delete/<%= post._id %>?_method=delete" method="post">
                        <button type="submit">DeletePost</button>
                      </form>                    
                    <% } else { %>
                        <form action="/posts/delete/<%= post._id %>?_method=delete" method="post">
                          <button type="submit">DeletePost</button>
                        </form>
                        <form action="posts/edit/<%= post._id %>" method="get">
                          <button class='updatebutton' type="submit">UpdatePost</button>
                        </form>
                  <% } %>
                  <% } %>
                </div>



                <div>
                    <h2>Comments</h2>
                </div>
                <div class="comments">
                  <% for (let comment of comments) { %>
                    <div class="singlecomment">
                      <% if(post._id.toString() == comment.commentOn.toString()) { %>
                          <%= comment.comment %>

                          <% if (session.user == comment.commentBy.toString()) { %>
                            <form action="comments/update/<%= comment._id %>" method="get">
                              <button class='updatebutton' type="submit">Update</button>
                            </form>                          
                          <% } %>

                          <% if (session.role == 'admin' || session.user == comment.commentBy.toString() || session.user == post.postBy.toString()) { %>
                            <form action="/comments/delete/<%= comment._id %>?_method=delete" method="post">
                              <button type="submit">del</button>
                            </form>
                          <% } %>

                          
                                                  
                      <%}%>
                    </div> 
                  <%}%> 
                </div>

                <div class="addcomment">
                    <form action="/createcomment" method="post">
                        <input type="hidden" name="postid" value= <%= post._id %> >
                        <button type="submit" >Add New Comment</button>
                        <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
                    </form>
                </div>  
            </div> <br>
        <% }) %>
        
          
         <div class = 'pagination'>
          <% if (totalPage > 0) { %>
            <% if (currentPage == 1) { %>
              <li><a href="#">First</a></li>
            <% } else {%>
              <li><a href="/allpost?page=1&limit=5">First</a></li>
            <% } %>
            
            <% var i = currentPage > 5  ?  currentPage - 4 : 1 %>  
  
                                  <!-- 
                                      if current page is more than 5 then we will show ... to the left side 
                                   -->
                                  <% if ( i !== 1 ) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %> 
  
                                  <!-- Show loop from 1 to current + 4 but not exceed more than no of pages -->
                                  <% for (; i <= (currentPage + 4) && i <= totalPage; i++) { %>
                                      
                                      <!-- if we are on currentPage page then show user disabled link
                                              else we will show him a active link
                                      -->
                                      <% if (i == currentPage) { %>
                                          <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                      <% } else { %>
                                          <li class="page-item"><a class="page-link" href="/allpost?page=<%= i %>&limit=5"><%= i %></a></li>
                                      <% } %>
  
  
                                      <% if (i == currentPage + 4 && i < totalPage) { %>
                                          <li class="disabled page-item"><a class="page-link">...</a></li>
                                      <% } %>
                                  <% } %>
  
            <% if (currentPage == totalPage) { %>
              <li><a href="#">last</a></li>
            <% } else {%>
              <li><a href="/allpost?page=<%= totalPage %>&limit=5">last</a></li>
            <% } %>
  
          <% } %>
         </div>
        
      </div>
    </main>
  </body>
</html>
